.home{
  display: flex;
  

  .home-container{
    // background-color: lightblue;
    flex: 6;

    .widgets{
      display: flex;
      padding: 20px;
      gap: 20px;
    }

    .list{
      box-shadow: 6px 15px 10px -3px rgba(222,222,222,1);
  -webkit-box-shadow: 6px 15px 10px -3px rgba(222,222,222,1);
  margin: 20px;
  padding: 20px;
    }
  }
}